.home-news {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-news-container {
    margin: 0;
    padding: 15px;
}

.home-news-footer {
    width: 100%;
    margin: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-figure {
    position: relative;
    margin: 0;
}

.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.home-figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.home-cars-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.home-cars-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-background-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.home-cars-grid-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transform: scale(1.05);
}

.home-cars-grid-item-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.home-cars-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.home-products {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .home-cars-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .home-products {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-products > * {
        width: 100%;
    }
    
}


